# Local Development (SQLite)
PORT=3000
DATABASE_URL="file:./dev.db"
JWT_SECRET="dev_secret_key_123"

# Production (Supabase)
# DATABASE_URL="postgresql://postgres.gsolfnhrmdjysoscbmth:YOUR_PASSWORD@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# DIRECT_URL="postgresql://postgres.gsolfnhrmdjysoscbmth:YOUR_PASSWORD@aws-0-ap-south-1.pooler.supabase.com:5432/postgres"
# JWT_SECRET="your_production_secret_here"
# NODE_ENV="production"
